.content-container {
  background: white;
  width: 1220px;
  margin: 0 auto;
  height: 100%;
  top: 0;
  bottom: 0;
  // padding: 0 20px;
  padding-bottom: 75px;
  padding-top: 46px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.content-wrapper {
  position: relative;
  min-height: 100vh;
  padding: 0 30px;
}

.content-playlist-main-wrapper {
  display: block;
  margin-right: 330px;
  padding-top: 20px;
  border-right: 1px solid #f2f2f2;
}

.playlist-wrapper {
  padding-right: 30px;
}

.playlist-header {
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 23px;
}

.content-list-item {
  width: 172px;
  padding-bottom: 34px;
  margin-right: 20px;
}

.content-list-item-title {
  font-size: 14px;
  color: #111
}

.content-list-item-uploader, .content-list-item-genre {
  font-size: 11px;
  color: #999;
}

.content-list-item-link {
  color: #111;
  text-decoration: none;
}

.content-list-item-img {
  height: 172px;
  width: 172px;
}

.content-list-item-description div{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin-top: 5px;
  line-height: 1.4;
}

.content-list-item:hover {
  cursor: pointer;
}

.content-description {
  color: #111;
  font-size: 14px;
  padding: 10px 0;
}

.content-list-ul {
  // background-position: 50% 50%;
  // display: block;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
