.content-sidebar-right-container {
  // stick solution
  position: sticky;
  float: right;
  top: 75px;
  bottom: 0;
  right: 0;
  width: 300px;
  margin-right: 30px;
  font-size: 14px;
  z-index: 100;

  // position: absolute;
  // top: 30px;
  // bottom: 0;
  // right: 0;
  // width: 300px;
  // margin-right: 30px;
  // font-size: 14px;
}

.history-container {
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  height: 30px;
  line-height: 24px;
  border-bottom: 1px solid #eaeaea;
}

.calendar-icon {
  margin-right: 7px;
}

#view-history-btn {
  border: none;
  background: none;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #999;
  cursor: pointer;
}

#view-history-btn:hover {
  color: black;
}

.history-track-ul {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 5px;
}

.history-track-item {
  font-size: 14px;
  padding: 5px 0;
}

.history-track-item-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #999;
  text-decoration: none;
}

.history-track-icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.history-track-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.history-track-details span:hover{
  color: black;
}

#history-comment-icon {
  width: 16px;
  height: 16px;
  padding: 3px 0px;
  box-sizing: border-box;
  margin-bottom: -2px;
}