

// Login/signup header is a more accurate description of this scss file

.login-signup-container {
  margin-top: 20px;
}

.login-signup-nav {
  display: flex;
  flex-direction: row;
  // flex-direction: row-reverse;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.login-signup button {
  top: 200px;
  cursor: pointer;
  margin: 0px 0px 0px 6px;
  padding: 2px 16px;
  color: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border-radius: 5px;
}

.signup {
  background: #f50;
  border: 1px solid #f50;
}

.login {
  background-color: transparent;
  border: 1px solid #ccc;
}

.site-logo {
  align-self: flex-start;
}

.navbar-container {
  position: fixed;
  height: 46px;
  background: #333;
  width: 100%;
}

.test {
  color: rgb(253, 253, 253);
  
}