.homepage-container {
  display: flex;
  flex-direction: column;
  width: 1250px;
  top: 0;
  margin: 0 auto;
}

.homepage-header {
  background-image: image_url('concert.jpg');
  position: relative;
  top: 0;
  margin: 0 auto;
  height: 450px;
  width: 1250px;
}

.homepage-mobile {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0 70px;
  width: 1250px;
  height: 450px;
  background: #f2f2f2;
}

.homepage-mobile-img-container {
  position: relative;
  width: 730px; 
  height: 450px;
}

.homepage-mobile-img {
  background-image: url(https://a-v2.sndcdn.com/assets/images/never_stop_listening@1x-9c5264ff.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homepage-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  width: 325px;
  margin-left: 45px;
}

.homepage-details-header {
  line-height: 1.2;
  font-size: 32px;
  margin-bottom: 17px;
}

.homepage-details-header:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;
}

.homepage-details p {
  font-size: 24px;
}

.homepage-bottom-banner {
  position: relative;
  height: 350px;
  background-color: #141414;
  background-image: url(https://a-v2.sndcdn.com/assets/images/hp_creator_image-f3d92e09.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 0 570px 0 70px;
  display: flex;
  align-items: center;
}

.homepage-signup-footer {
  background: white;
  text-align: center;
  height: 375px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.homepage-signup-footer-details {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  line-height: 1.4;
}

.homepage-signup-footer-header {
  font-size: 36px;
}

.homepage-signup-footer-details p {
  font-size: 24px;
  margin: 7px 0 10px;
}


.homepage-signup-footer-signup {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  margin: 10px 0;
  font-size: 18px;
  height: 46px;
  padding: 13px 23px;
  min-width: 200px;
  background-color: #f50;
  border: none;
  outline: 0;
  color: #fff;
  line-height: 18px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.4s;
}

.homepage-signup-footer-signup:hover {
  opacity: 0.7;
}

.homepage-signup-footer-alt-auth {
  margin: 5px 0 10px;
  font-size: 12px;
}

.homepage-signup-footer-alt-auth-btn {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  margin-left: 10px;
  padding: 10px 15px;
  height: 40px;
  outline: 0;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

.homepage-signup-footer-alt-auth-btn:hover {
  background: #ececec;
}

.social-links-footer-container {
  background: white;
  color: #ccc;
  padding: 0px 30px;
  padding-bottom: 75px;
  line-height: 20px;
}

.social-links-footer-wrapper {
  border-top: 1px solid #e2e2e2;
  padding-top: 15px;
}

.social-links-footer-wrapper a {
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
}

.social-links-footer-wrapper a:hover {
  color: #999;
}