.modal-background-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: hsla(0,0%,94.9%,.8);
  animation: background-out;
  animation-duration: 0.6s;
}

.modal-background-close {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: hsla(0,0%,94.9%,.8);
  animation: background-in;
  animation-duration: 0.6s;
}

@keyframes background-in {
  0%{
    opacity: 0;
  }
}

@keyframes background-out {
  40%{
    background: hsla(0,0%,94.9%,.7);
  }
  100%{
    background: hsla(0,0%,94.9%,0);
  }
}

.modal-child-close {
  background: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
  width: 360px;
  box-shadow: 2px 2px 11px 2px #9d9d9d;
  // change height to auto once you have more content maybe
  // height: 300px;
  height: auto;
  position: relative;
  margin: 0 auto;
  top: 20%;
  padding: 25px;
  animation: animatetop;
  animation-duration: 0.6s;

}

.modal-child-open {
  background: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
  width: 360px;
  box-shadow: 2px 2px 11px 2px #9d9d9d;
  height: auto;
  position: relative;
  margin: 0 auto;
  top: 20%;
  padding: 25px;
  animation: animatebottomwtf;
  animation-duration: 0.6s;
}

@keyframes animatebottomwtf {
  0%{
    top: 20%;
    opacity: 1;
  }
  40% {
    top: 40%;
    opacity: 0.9;
  }
  100%{
    top: -1000px;
    opacity: 0.5;
  }
}

@keyframes animatetop {
  from {
    top: -6000px;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.modal-form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
  margin-bottom: 30px;
  // opacity: 0.7;
}

.modal-form input:focus {
  outline: 0;
  opacity: 1;
  border: 1px solid #111;
}

.demo-user-login-button, .modal-form-submit-button {
  cursor: pointer;
  background: #f50;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border: 1px solid #f50;
  border-radius: 5px;
  // opacity: 0.7;
  transition: 0.4s;
}

.modal-form > button:focus {
  outline: 0;
}

.modal-form > button:hover {
  opacity: 0.7;
}


.modal-form-submit-button {
  // cursor: pointer;
  // background: #f50;
  // color: #fff;
  // font-size: 18px;
  // line-height: 24px;
  // padding: 7px 8px;
  // border: 1px solid #f50;
  // border-radius: 5px;
  // width: 100%
}

.no-error{
  border: 1px solid rgba(204, 204, 204, 0.7);
  // border: 1px solid #ccc;
}

.input-error {
  border: 1px solid red;
  // margin-bottom: 30px;
}

.credential-errors-ul {
  position: absolute;
  color: #cf0000;
  margin-top: -25px;
  font-size: 12px;
  padding: 2px;
}

.close-x {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge  */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

.demo-user-login-button {
}

.auth-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-separator::before, .auth-separator::after {
  content: "";
  display: block;
  height: .1em;
  width: 40%;
}

.auth-separator::before {
  background: linear-gradient(to left, #f50, #fff);
  margin-right: auto;
}

.auth-separator::after {
  background: linear-gradient(to right, #f50, #fff);
  margin-left: auto;
}

.session-form-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  margin-top: 15px;
}

.other-form {
  color: #f50;
  // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}


