.modal-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsla(0,0%,94.9%,.9);
  animation: background-in 350ms ease-in 1;
}

@keyframes background-in {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

button:focus {
  outline: 0;
}

.modal-child {
  background: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 18px;
  width: 400px;

  // change height to auto once you have more content maybe
  height: 500px;

  margin: 0 auto;
  margin-top: 80px;
  padding: 25px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.modal-form button {
  cursor: pointer;
  background: #f50;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border: 1px solid #f50;
  border-radius: 5px;
}

.modal-form-submit-button {
  // cursor: pointer;
  // background: #f50;
  // color: #fff;
  // font-size: 18px;
  // line-height: 24px;
  // padding: 7px 8px;
  // border: 1px solid #f50;
  // border-radius: 5px;
  // width: 100%
}

.no-error{
  border: 1px solid #ccc;
}

.input-error {
  border: 1px solid red;
  // margin-bottom: 30px;
}

.credential-errors-ul {
  position: absolute;
  color: #cf0000;
  margin-top: -25px;
  font-size: 12px;
  padding: 2px;
}

.close-x {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge  */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

.demo-user-login-button {
}

.auth-separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-separator::before, .auth-separator::after {
  content: "";
  display: block;
  height: .1em;
  width: 40%;
}

.auth-separator::before {
  background: linear-gradient(to left, #f50, #fff);
  margin-right: auto;
}

.auth-separator::after {
  background: linear-gradient(to right, #f50, #fff);
  margin-left: auto;
}


