

// Login/signup header is a more accurate description of this scss file

.login-signup-container {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 20px;
}

.login-signup-nav {
  display: flex;
  flex-direction: row;
  // flex-direction: row-reverse;
  justify-content: space-between;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

.login-signup button {
  top: 200px;
  cursor: pointer;
  margin: 0px 0px 0px 6px;
  padding: 2px 16px;
  color: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  border-radius: 5px;
  // opacity: 0.7;
  transition: 0.4s;
}

.login-signup button:hover {
  // background: rgba(255, 85, 0, 0.7);
  opacity: 0.7;
}

.signup-btn {
  background: #f50;
  border: 1px solid #f50;
}

.login-btn {
  background-color: transparent;
  border: 1px solid #ccc;
}

.login-btn:hover {
  background-color: lightgray;
}

.site-logo {
  align-self: flex-start;
}

.navbar-container {
  position: fixed;
  height: 46px;
  background: #333;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 100;
}

.nav-links-li {
  display: block;
  color: #ccc;
  padding: 12px 0px;
  border-right: 1px solid #111;
  text-align: center;
  height: auto;
  width: 104px;
  text-decoration: none;
}

.nav-links-li:hover {
  cursor: pointer;
  color: #eee;
}

.nav-links-li:focus {
  background: #111;
  color: #fff;
}

.nav-links {
  // consider if you still need to have flex items within the ul anymore
  display: flex;
  
  // copied from soundcloud
  font: 100 14px/1.5 Interstate,Lucida Grande,Arial,sans-serif;
}

.nav-links>li {
  // box-sizing: border-box;
  
}