.playbar-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: #f2f2f2;
  border-top: 1px solid #cecece;
  text-align: center;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 11px;
}

.playbar-footer-wrapper {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.current-track-info-container {
  // height: 100%;
  width: 360px;
  padding: 0 8px;
}

.current-track {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-content: center;
  // text-align: center;
}

.current-track-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.current-track-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.description-wrapper {
  // position: absolute;
}

// bandaid fix
.current-track-title {
  margin-top: 10px;
  width: 300px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.media-container button {
  margin-left: 12px;
  outline: 0;
  border: none;
}

.media-container button:hover {
  cursor: pointer;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.progress-background {
  position: relative;
  width: 512px;
  // width: 100%;
  height: 1px;
  // padding: 10px 0;
  margin: 1px 10px 0;
  background: #ccc;
}

.progress-bar {
  position: absolute;
  height: 1px;
  background: #f50;
}

.progress-current-time {
  display: block;
  width: 50px;
  color: #f50;
  text-align: right;
}

.progress-duration {
  display: block;
  width: 50px;
  text-align: left;
}