.playbar-footer-open {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: #f2f2f2;
  border-top: 1px solid #cecece;
  text-align: center;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 11px;
  z-index: 1000;
  animation: animatebottomwtf2;
  animation-duration: 0.8s;
}

@keyframes animatebottomwtf2 {
  0%{
    bottom: -1000px;
  }
  30%{
    bottom: -1000px;
  }
  100%{
    bottom: 0px;
  }
}

.playbar-footer-close {
  position: fixed;
  bottom: -100px;
  width: 100%;
  height: 0px;
  background: #f2f2f2;
}

.playbar-footer-wrapper {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.current-track-info-container {
  padding: 0 8px;
}

.current-track {
  display: flex;
  flex-direction: row;
}

.current-track-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.current-track-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 220px;
}

.description-wrapper {
  font-size: 12px;
}

.current-track-username {
  color: #999;
}

.current-track-username:hover {
  color: #000;
}

.current-track-title {
  margin-top: 10px;
  color: rgb(49, 49, 49);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playbar-footer-open button {
  outline: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.media-container button {
  margin-left: 12px;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.progress-timeline-wrapper {
  margin: 1px 10px 0;
  padding: 7px 0px;
  cursor: pointer;
}

.progress-background {
  position: relative;
  width: 512px;
  height: 1px;
  background: #ccc;
}

.progress-bar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  height: 1px;
  background: #f50;
}

.progress-bar2 {
  display: block;
  position: absolute;
  cursor: pointer;
  height: 1px;
  color: #f50;
  width: 100%;
  margin: 0px;
  z-index: 1000;
  opacity: 0;
  transition: opacity .15s;
  -webkit-appearance: none;
  outline: none;
}

.progress-bar2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
}

.progress-current-time {
  display: block;
  width: 50px;
  color: #f50;
  text-align: right;
}

.progress-duration {
  display: block;
  width: 50px;
  text-align: left;
}

.volume-control-container {
  display: flex;
  position: relative;
  z-index: 10;
  height: 100%;
  margin: 0px -15px;
}

#volume-btn {
  width: 27px;
}

.thumb {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: -3px;
  right: 0;
  width: 30px;
  height: 50px;
  z-index: 100;
}

.thumb:hover {
  cursor: pointer;
}

.volume-control-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: 0;
  transition: height 0.2s , opacity 0.2s;
  opacity: 0;
}
.volume-control-wrapper:hover {
  width: 100%;
  height: 170px;
  opacity: 1;
}

.slider-container {
  background-color: rgb(230, 230, 230);
  height: 120px;
}

.volume-control-wrapper:before {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  border-top: 7px solid rgb(189, 189, 189);
  border-bottom: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.volume-control-wrapper:hover:before,
.volume-control-wrapper:hover:after {
  display: block;
}

.volume-control-wrapper:hover:before {
}

.slider-background {
  position: absolute;
  display: block;
  background-color: #ccc;
  top: 15px;
  height: 92px;
  width: 2px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  margin-left: 14px;
  -webkit-appearance: slider-vertical;
  cursor: pointer;
}

.scale-icon {
  transform: scale(1.2);
}
