.playlist-container-close {
  position: absolute;
  bottom: -30px;
  display: none;
  right: 8px;
  width: 480px;
  height: 660px;
  background: lightgray;
  // opacity: 0;
  z-index: -1;
  animation: background-out2;
  animation-duration: 0.3s;
}

.playlist-container-open {
  position: absolute;
  display: block;
  bottom: 54px;
  right: 8px;
  width: 480px;
  height: 660px;
  background: lightgray;
  animation: background-in2;
  animation-duration: 0.4s;
}

@keyframes background-in2 {
  0%{
    opacity: 0;
    bottom: -100px;
  }
  20%{
    opacity: 0;
    bottom: 0px;
  }

  80% {
    opacity: 1;
    bottom: 57px;
  }
}

@keyframes background-out2 {
  // 70% {
  //   opacity: 0;
  //   bottom: -1000px;
  // }
  100%{
    // display: none;
    opacity: 0;
    bottom: -1000px;
  }
}