.track-show-container {
  position: relative;
  width: 100%;
  height: 380px;
  // padding: 20px;
  background: white;
  margin: 0 auto;
  // padding-top: 46px;
}

.track-show-list-item-img {
  position: absolute;
  width: 340px;
  height: 340px;
  top: 20px;
  right: 20px;
}

.track-show-list-item-description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 650px;
  height: 330px;
  padding: 30px 540px 20px 30px;
}

.track-show-list-uploader {
  display: inline;
  font-size: 16px;
  padding: 2px 3px 7px 7px;
}

.track-show-list-title {
  font-size: 24px;
}

.track-show-play-content {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start
  // flex-direction: row;
}

.track-show-list-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}