.track-show-body-container {
  display: block;
}

.track-show-body-wrapper {
  position: relative;
  margin: 0 30px;
}

.track-show-body-left-wrapper {
  display: block;
  margin-right: 330px;
  padding-top: 20px;
}

.track-show-body-left-content {
  padding-right: 30px;
  border-right: 1px solid #f2f2f2;
}

.track-body-left-header {
  display: block;
  height: 90px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.track-show-btns {
  display: flex;
  height: 35px;
}

.track-show-edit-btn {
  width: 32px;
  box-sizing: content-box;
}

// .test {
//   content: "";
//   background-image: url(https://a-v2.sndcdn.com/assets/images/edit-2fe52d66.svg);
//   background-size: 20px 20px;
// }

.track-body-main-content {
  position: relative;
}

.track-show-uploader-container {
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
}

.track-show-uploader-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.track-show-uploader-details {
  display: block;
}

.track-show-uploader-name {
  margin: 5px 0px;
  font-size: 14px;
  color: #333;
}

.comment-show-container {
  margin-left: 150px;
}


