.track-show-body-container {
  display: block;
}

.track-show-body-wrapper {
  position: relative;
  padding: 0 30px;
  margin-top: 20px;

}

.track-show-body-left-wrapper {
  display: block;
  margin-right: 330px;
  // padding-top: 20px;
}

.track-show-body-left-content {
  min-height: 400px;
  padding-right: 30px;
  border-right: 1px solid #eaeaea;
}

.track-body-left-header {
  display: block;
  height: 90px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.track-show-btns {
  display: flex;
  align-items: center;
  height: 35px;
  margin-top: 10px;
}

.track-show-no-btns {
  font-size: 14px;
  color: #999;
  margin-top: 18px;
}

#asterisk{
  color: #f50;
  font-size: 16px;
}

.track-show-edit-btn {
  height: 20px;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  outline: 0;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  // font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  text-align: center;
  box-sizing: content-box;
}

.track-show-edit-btn:first-child {
  margin-right: 5px;
}

.track-show-edit-btn:hover {
  border: 1px solid #ccc;
}

#pen {
  margin-right: 7px;
}

#trash {
  margin-right: 7px;
}

// .test {
//   content: "";
//   background-image: url(https://a-v2.sndcdn.com/assets/images/edit-2fe52d66.svg);
//   background-size: 20px 20px;
// }

.track-body-main-content {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.track-show-uploader-container {
  width: 120px;
  // position: absolute;
  top: 0;
  left: 0;
}

.track-show-uploader-img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.track-show-uploader-details {
  display: block;
}

.track-show-uploader-name {
  margin: 5px 0px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.comment-show-container {
  margin-left: 30px;
  width: 100%;
}

.track-show-description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 15px;
}

.comment-show-container-header {
  color: #999;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 7px;
}

#comment-icon {
  width: 21px;
  height: 21px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: -2px;
}

#test {
  font-size: 14px;
}

.comment-items-ul {
  display: flex;
  flex-direction: column-reverse;
}

.comment-items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // box-sizing:border-box;
  padding: 10px 10px 10px 10px;
  margin-left: -10px;
  animation: background-in-comment;
  animation-duration: 0.6s;
}

.owner {
  background: #f2f2f2;
}

@keyframes background-in-comment {
  0%{
    opacity: 0;
  }
}

.comment-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  line-height: 1.4;
}

.comment-item-username {
  display: inline;
  font-size: 12px;
  color: #999
}

.comment-item-username-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px;
  color: #999;
  text-decoration: none;
  transition: 0.2s;
}

.comment-item-username-link:hover {
  color: black
}

.comment-item-body {
  font-size: 12px;
  color: #333;
  word-break: break-all;
}

.comment-item-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-timestamp {
  margin-left: 10px;
  font-size: 11px;
  white-space: nowrap;
}

.trash {
  width: 21px;
  height: 21px;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: -2px;
  opacity: 0;
  align-self: flex-end;
  transition: 0.15s;
  cursor: pointer;
}

.trash:hover {
  opacity: 1;
}

.comment-item-profile-img-container {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.comment-item-profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
