.library-main-content-wrapper {
  // margin-left: 35px;
}

.library-header-wrapper {
  margin-bottom: 34px;
  margin-top: 10px;
}

.library-tracks-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 10px;
}

.library-social-links-footer-container {
  background: white;
  color: #9b9b9b;
  // padding: 0px 30px;
  // padding-bottom: 75px;
  font-size: 12px;
  line-height: 20px;
  border-top: 1px solid #e5e5e5;
  margin-right: 30px;
}
