.upload-form-container {
  top: 0;
  bottom: 0;
}

.upload-form {
  // border: 0;
  // clip: rect(0 0 0 0);
  // height: 1px;
  // margin: -1px;
  // overflow: hidden;
  // padding: 0;
  // position: absolute;
  // width: 1px;
}

.upload-btn {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.upload-btn:hover {
  cursor: pointer;
}



